{{js "/js/validation.js"}}

<form action="/record/{{record._id}}?_method=PUT" class="container needs-validation mt-4" method="POST" novalidate>

  <div class="row justify-content-center">
    <div class="col-6">
      <div class="form-group">
        <label for="name">名稱*</label>
        <input type="text" class="form-control" id="name" name="name" value="{{ record.name }}" required>
        <div class="invalid-feedback">
          請輸入至少一個字
        </div>
      </div>
    </div>
  </div>

  <div class="row justify-content-center">
    <div class="col-6">
      <div class="form-group">
        <label for="date">日期*</label>
        <input type="date" class="form-control" id="date" name="date" value={{ dateString }} required>
        <div class="invalid-feedback">
          請輸入正確日期或使用表格右方的月曆功能
        </div>
      </div>
    </div>
  </div>

  <div class="row justify-content-center">
    <div class="col-6">
      <div class="form-group">
        <label for="category">類別*</label>
        <select class="custom-select" name="category" id="category" required>
          <option value="">請選擇類別</option>
          {{#each categories}}
          <option value="{{this._id}}" {{#if (eq this.name ../record.category.name )}} selected {{/if}}>
            {{this.name}}
          </option>
          {{/each}}
        </select>
        <div class="invalid-feedback">
          請至少選擇一類別
        </div>
      </div>
    </div>
  </div>

  <div class="row justify-content-center">
    <div class="col-6">
      <div class="form-group">
        <label for="amount">金額*</label>
        <input type="number" class="form-control" id="amount" name="amount" value="{{ record.amount }}" required>
        <div class="invalid-feedback">
          請輸入大於0的整數
        </div>
      </div>
    </div>
  </div>

  <div class="row justify-content-center">
    <div class="col-6">
      <div class="form-group">
        <label for="amount">店家</label>
        <input type="text" class="form-control" id="merchant" name="merchant">
      </div>
    </div>
  </div>

  <div class="row justify-content-center">
    <div class="col-4">
      <button type="submit" class="btn btn-outline-success btn-block btn-lg">確定修改</button>
    </div>
  </div>

</form>