{{js "/js/index.js"}}

<div class="container mt-4">
  <div class="row justify-content-center">
    <form action="/sort">
      <select name="category" id="category" class="form-control" onchange="this.form.submit()">
        <option value="">請選擇類別</option>
        {{#each categorys}}
        <option value="{{this.name}}" {{#if (eq this.name ../categoryName )}} selected {{/if}}>
          {{this.name}}
        </option>
        {{/each}}
      </select>
    </form>
  </div>

  <div class="row justify-content-center">
    <label for="">總金額：<h1 class="font-weight-bold total-price"
        style="display: inline-block; color: goldenrod; font-size: 5em;">600
      </h1></label>
  </div>

  <div class="row">
    {{#each lists}}
    <div class="col-2"></div>
    <div class="col-8 px-5">
      <div class="input-group input-group-lg">
        <div class="input-group-prepend">
          <div class="input-group-text">
            <i class="{{this.category.font}}"></i>
          </div>
        </div>
        <div class="form-control">
          <p class="my-0">{{this.name}}</p>
          <span>>{{this.date}}</span>
        </div>
        <form class="input-group-append" action="/{{this._id}}?_method=DELETE" method="POST">
          <span class="input-group-text mr-3 amount">{{this.amount}}</span>
          <a class="btn btn-outline-info" href="/{{this._id}}/edit">修改</a>
          <button class="btn btn-outline-danger" type="submit">刪除</button>
        </form>
      </div>
    </div>
    <div class="col-2"></div>
    {{/each}}
  </div>
  <div class="col-2"></div>
</div>

